<div class="regcontainer">
  <h2>Edit <%= resource_name.to_s.humanize %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    
    <div class="row">
      <div class="col s12 m6 lg6">
        <div class="input-field field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>
      <div class="col s12 m6 lg6">
        <i>(leave blank if you don't want to change it)</i><br />
        <div class="input-field field">
          
          <%= f.label :password %> 
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
      </div>
      <div class="col s12 m6 lg6">
        <div class="input-field field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>
      <div class="col s12 m6 lg6">
        <i>(current password required to confirm your changes)</i><br />
        <div class="input-field field">
          <%= f.label :current_password %> 
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Update" %>
      </div>
    </div>
  <% end %>
  <br/><br/><br/><br/>
  <div class="row">
    <div class="col lg12" style="text-align:center;margin:0 auto;width:100%;">
      <p><small>Cancel your account by clicking <%= button_to "here", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></small></p>
    </div>
  </div>
</div>
