<%= form_with(model: entry, local: true) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% entry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :entry_title %>
  </div>

  <div class="field">
    <%= form.label :link %>
    <%= form.text_field :link, id: :entry_link %>
  </div>

  <div class="field">
    <%= form.label :img %>
    <%= form.text_field :img, id: :entry_img %>
  </div>

  <div class="field">
    <%= form.label :via %>
    <%= form.text_field :via, id: :entry_via %>
  </div>

  <div class="field">
    <%= form.label :published %>
    <%= form.text_field :published, id: :entry_published %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
