<div class="parallax-container">
  <div class="parallax">
    
    <div class="slider">
      <ul class="slides">
        <% @data.each do |item| %>
          <li>
            <%= image_tag(item[:link]) %>
            <div class="caption <%= item[:position] %>-align">
              <h3 class="<%= item[:color] %>-text"><%= item[:bigT] %></h3>
              <h5 class="light <%= item[:color] %>-text text-lighten-3"><%= item[:smallT] %></h5>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<%= render partial: 'content_block' %>

<div class="parallax-container">
  <div class="parallax">
    <%= image_tag('giphy1.gif') %>
  </div>
</div>

<script>
  $(document).ready(function(){
    $('.parallax').parallax();
    $('.slider').slider({ full_width: true, indicators: false });
  });
</script>
