<h3>Welcome to PremeCalc</h3>
<ul class="collapsible popout" data-collapsible="accordion">
  <% @data.each do |d| %>
    <li>
      <div class="collapsible-header"><%= d.keys.first %></div>
      <div class="collapsible-body">
        <div class="row">
          <% d[d.keys.first].each do |prod| %>
            <div class="col s6 m4 l2">
              <a href="#modal-<%= prod[:title] %>" class="waves-effect waves-light modal-trigger">
                <img class="product-imgs" src="http://supremecommunity.com/<%= prod[:link] %>"/>
              </a>
            </div>
            <div id="modal-<%= prod[:title] %>" class="modal">
              <div class="modal-content">
                <h4><%= prod[:title] %></h4>
                <img class="product-imgs" src="http://supremecommunity.com/<%= prod[:link] %>"/>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
<script>
$(document).ready(function(){
   $('.modal').modal();
 });
</script>