<h3>Welcome to PremeCalc</h3>
<div class="row">
  <% @data.each do |d| %>
    <div class="col s6 m4 l2">
      <a href="#modal-<%= d.title %>" class="waves-effect waves-light modal-trigger">
        <img class="product-imgs" src="http://supremecommunity.com/<%= d.link %>"/>
      </a>
    </div>
    <div id="modal-<%= d.title %>" class="modal">
      <div class="modal-content">
        <h4><%= d.title %></h4>
        <img class="product-imgs" src="http://supremecommunity.com/<%= d.link %>"/>
      </div>
    </div>
  <% end %>
</div>

<script>
$(document).ready(function(){
   $('.modal').modal();
 });
</script>