<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <br/>
  <h3>Shopping Cart</h3><br/>
  
  <h6>Order #: <%= current_order.id %>2017</h6><br/>

  <div class="shopping-cart-area">
    <table class="responsive-table">
      <thead>
        <tr>
          <th>&nbsp;</th>
          <th colspan="2">Name</th>
          <th>Sub Total</th>
          <th>Total</th>
          <th>CAD Total</th>
          <th>Resell</th>
          <th>Resell Price</th>
          <th>&nbsp;</th>
        </tr>
      </thead>

      <tbody>
        <% @order_items.each do |order_item| %>
          <tr>
            <%= render 'carts/cart_row', product: order_item.product, order_item: order_item, show_total: true %>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row">
      <div class="col s12 m12 l12">
        <div class="totals">
          <div class="totals-item">
            <label>USD Subtotal</label>
            <div class="totals-value" id="cart-subtotal">
              <%= WelcomeHelper.usd_subtotal(@order_items.map(&:product).pluck(:price)) %>
            </div>
          </div>
          <div class="totals-item">
            <label>USD Total</label>
            <div class="totals-value" id="cart-shipping">
              <%= WelcomeHelper.usd_total(@order_items.map(&:product).pluck(:price)) %>
            </div>
          </div>
          <div class="totals-item totals-item-total">
            <label>Grand Total (CAD)</label>
            <div class="totals-value" id="cart-total">
              <%= WelcomeHelper.cad_total(@order_items.map(&:product).pluck(:price)) %>
            </div>
          </div>
        </div>
      </div>
      <div class="col s12 m12 l12" style="text-align:right;">
        <%= link_to 'Reset Order', reset_order_path(current_order), remote: true, class: 'btn btn-primary red reset-order' %>
        <%= link_to 'Save Order', save_order_path(current_order), remote: true, class: 'btn btn-primary save-order' %>
      </div>
    </div>
  </div>
<% end %>
