<div class="collections row container" style="margin-bottom: 12%;">
  <br/>
  <h4 class="season-title"><%= @dropweek %></h4>
  <hr/>
  <div class="row filter-section" style="margin-bottom:0px !important;padding: 0 15px;">
    <% @filters.each do |filter| %>
      <div class="col lg2" id="filter-<%= filter %>">
        <%= link_to "/products/#{@dropweek}/#{filter}", class: 'filter-btn', remote: true do %>
          <%= image_tag("filters/#{filter}.png", style: 'max-height:30px;') %>
        <% end %>
      </div>
    <% end %>
  </div>
  <hr/>
  <% if @data.empty? %>
    <p>No <%= @filter %> available, try another filter.</p>
  <% else %>
    <div class="card-collection">
      <% @data.each do |prod| %>
        <div class="card col s12 m4 l4" id="prod_<%= prod[:dataId] %>">
          
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator materialboxed " src="http://supremecommunity.com<%= prod[:link] %>"/>
          </div>
          <div class="card-content">
            <div class="row">
              <div class="col lg8" style="width:100%;">
                <span class="card-title grey-text text-darken-4"><%= prod[:name] %></span>
              </div>
              <div class="col lg4 activator">
                <i class="material-icons right" style="cursor:pointer;">more_vert</i>
              </div>
            </div>
            <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
              <%= f.hidden_field :product_id, value: prod[:id] %>

              <% if current_order.order_items.find_by_product_id(prod[:id]).present? %>
                <%= link_to("/order_items/#{current_order.order_items.find_by_product_id(prod[:id]).try(:id)}", { method: :delete, remote: true, class: "btn-floating halfway-fab waves-effect waves-light red" }, style: 'visibility: visible;') do %>
                  <i class="material-icons">remove</i>
                <% end %>
                <%= button_tag(type: "submit", class: "btn-floating halfway-fab waves-effect waves-light green", style: "visibility: hidden;") do %>
                  <i class="material-icons">add</i>
                <% end %>
              <% else %>
                <%= link_to("/order_items/#{current_order.order_items.find_by_product_id(prod[:id]).try(:id)}", { method: :delete, remote: true, class: "btn-floating halfway-fab waves-effect waves-light red" }, style: 'visibility: hidden;') do %>
                  <i class="material-icons">remove</i>
                <% end %>
                <%= button_tag(type: "submit", class: "btn-floating halfway-fab waves-effect waves-light green", style: "visibility: visible;") do %>
                  <i class="material-icons">add</i>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <div class="row" style="min-height:265px !important;">
              <div class="col s12">
                <div class="section">
                  <h5><%= prod[:name] %></h5>
                  <p><strong>Source: </strong> Ebay Canada</p>
                  <p><strong><i>Cost: </i></strong><%= prod.label %></p>
                  <p><strong><i>Resell Price: </i></strong>$ <%= prod.hype_price %></p>
                  <h5>Hypeness: <%= prod.hype %></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  $(function(){
    $('.materialboxed').materialbox();
    if($(window).width() < 784) {
      $(".filter-btn").click(function() { 
        var targetDiv = $(this).attr('href'); 
        $('html, body').animate({
          scrollTop: $(".filter-section").offset().top - 85
        }, 500); 
      }); 
    }
  });
</script>