<div class="collections row container" style="margin-bottom: 7%;">
  <br/>
  <h4 class="season-title"><%= ProductsHelper.full_label(@dropweek) %></h4>
  <hr/>

  <div class="row filter-section" style="margin-bottom:0px !important;padding: 0 15px;">
    <%
      filters = @filters.reject{|d| d.blank? }
    %>
    <% filters.each do |filter| %>
      <div class="col lg2" id="filter-<%= filter %>">
        <%= link_to "/products/#{@dropweek_param}/#{filter}", class: 'filter-btn', remote: true do %>
          <%= image_tag("filters/#{filter}.png", style: 'max-height:30px;opacity: 0.3;') %>
        <% end %>
      </div>
    <% end %>
  </div>

  <hr/>

  <% if @products.empty? %>
    <p>Not available, try another filter.</p>
  <% else %>
    <div class="card-collection" style="margin: 0 auto !important;">
      <% @products.order(:title).each do |prod| %>
        <div class="card col s12 m4 l4" id="prod_<%= prod[:dataId] %>">
          <div class="card-image">
            <img class="materialboxed" src="http://supremecommunity.com<%= prod[:link] %>"/>
          </div>
          <div class="card-content">
            <div class="row" style="min-height:85px;max-height:85px;">
              <div class="col lg8" style="width:100%;position:absolute;">
                <span class="card-title grey-text text-darken-4"><%= prod[:name] %></span>
              </div>
              <div class="col lg4 activator" style="cursor:pointer;float:right;position: relative;top: 60px;">
                <i class="material-icons" style="font-size: 40px;margin-right: -11px;color: orange;">info</i>
              </div>
            </div>
            <p style="width:75%;margin: 0px 3%;">
             <%= prod[:upvote].to_i %>&nbsp;<i class="fa fa-thumbs-up"></i>
             <span style="float:right;">
               <i class="fa fa-thumbs-down"></i>&nbsp;<%= prod[:downvote].to_i %>
             </span>
           </p>
           <div class="outer-meter" style="height:20px;">
             <div class="inner-meter" style="width: <%= (prod[:upvote] / (prod[:upvote] + prod[:downvote])) * 100 %>%;"></div>
           </div>

            <%= form_for @order_item, remote: true do |f| %>
              <%= f.hidden_field :quantity, value: 1, class: "form-control", min: 1 %>
              <%= f.hidden_field :product_id, value: prod[:id] %>

              <% if current_order.order_items.find_by_product_id(prod[:id]).present? %>
                <%= link_to("/order_items/#{current_order.order_items.find_by_product_id(prod[:id]).try(:id)}", { method: :delete, remote: true, disabled: prod[:price].empty?, class: "btn-floating halfway-fab waves-effect waves-light red" }, style: 'visibility: visible;') do %>
                  <i class="material-icons">remove</i>
                <% end %>
                <%= button_tag(type: "submit", class: "btn-floating halfway-fab waves-effect waves-light green", style: "visibility: hidden;") do %>
                  <i class="material-icons">add</i>
                <% end %>
              <% else %>
                <%= link_to("/order_items/#{current_order.order_items.find_by_product_id(prod[:id]).try(:id)}", { method: :delete, remote: true, disabled: prod[:price].empty?, class: "btn-floating halfway-fab waves-effect waves-light red" }, style: 'visibility: hidden;') do %>
                  <i class="material-icons">remove</i>
                <% end %>
                <%= button_tag(type: "submit", class: "btn-floating halfway-fab waves-effect waves-light green", style: "visibility: visible;", disabled: prod[:price].empty?) do %>
                  <i class="material-icons">add</i>
                <% end %>
              <% end %>
            <% end %>
          </div>
          <div class="card-reveal" style="overflow-y:hidden;">
            <span class="card-title grey-text text-darken-4"><i class="material-icons right">close</i></span>
            <div class="row" style="margin-top:40px !important;">
              <div class="col s12">
                <div class="section">
                  <h6><%= prod[:name] %></h6>
                  <hr/><br/>
                  <table>
                    <thead>
                      <tr>
                        <th>Sub Total</th>
                        <th>USD Total</th>
                        <th>CAN Total</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td><%= prod.label %></td>
                        <td><%= WelcomeHelper.subtotal_price(prod.label) %></td>
                        <td><%= WelcomeHelper.can_price(prod.label) %></td>
                      </tr>
                    </tbody>
                  </table>
                  <table>
                    <thead>
                      <tr>
                        <th>Source</th>
                        <th>Rank</th>
                        <th>Resell</th>
                      </tr>
                    </thead>

                    <tbody>
                      <tr>
                        <td>Ebay CAD</td>
                        <td><%= prod.hype %></td>
                        <td>$ <%= prod.hype_price %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>

<script>
  $(function(){
    $('.materialboxed').materialbox();
    $("#filter-<%= @filter %> .filter-btn img").css('opacity', '1.0')

    if($(window).width() < 784) {
      $(".filter-btn").click(function() {
        var targetDiv = $(this).attr('href');
        $('html, body').animate({
          scrollTop: $(".filter-section").offset().top - 85
        }, 500);
      });
    }
  });
</script>
