<div class="container">
  <hr/>
</div>
<div class="row" style="margin-bottom:8%;">
  <div class="container">
    <% @weeks.each_with_index do |week, index| %>
      <div class="col sm12 m6 l6" href="#item_<%= index %>!">
        <div class="card horizontal" id="prod_<%= index %>_week">
          <div class="card-image">
            <%= image_tag "https://supremecommunity.com#{Product.all.where(dropweek: week).first.link}", style: 'max-height:390px;' %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Season: <%= ProductsHelper.get_season(week) %></p>
              <p>Release: <%= ProductsHelper.get_week(week) %></p>
              <p>Week #: <%= ((@weeks.size - index) + 1) %></p>
            </div>
            <div class="card-action">
              <%= link_to 'View!', specific_week_path(week), class: 'btn btn-default', style: 'width:100%;' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br/>
  <!-- <div class="container indicator-container">
    <div class="row" style="height:55px !important;">
      <div class="col sm6 m6 l6" style="text-align:right;">
        <i class="fa fa-arrow-circle-left fa-3x" style="cursor:pointer;"></i>
      </div>
      <div class="col sm6 m6 l6" style="text-align:left;">
        <i class="fa fa-arrow-circle-right fa-3x" style="cursor:pointer;"></i>
      </div>
    </div>
  </div> -->

  <div class="mobile-view">
    <% @weeks.each_with_index do |week, index| %>
      <div class="col sm12 m6 l6">
        <div class="card horizontal" id="prod_<%= index %>_week">
          <div class="card-image">
            <%= image_tag "https://supremecommunity.com#{Product.all.where(dropweek: week).first.link}" %>
          </div>
          <div class="card-stacked">
            <div class="card-content">
              <p>Season: <%= ProductsHelper.get_season(week) %></p>
              <p>Release: <%= ProductsHelper.get_week(week) %></p>
              <p>Week #: <%= (@weeks.size - index) %></p>
            </div>
            <div class="card-action">
              <%= link_to 'View!', specific_week_path(week), class: 'btn btn-default', style: 'width:100%;' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
$(function(){
  // $(".fa-arrow-circle-left").hide()
  // 
  // $('.fa-arrow-circle-right').click(function(){
  // 
  //   $('.carousel').carousel('next');
  // 
  //   setTimeout(function(){
  //     if($('.carousel-item').first().hasClass('active')) {
  //       $(".fa-arrow-circle-left").hide();
  //     } else {
  //       $(".fa-arrow-circle-left").show();
  //     }
  //     if($('.carousel-item').last().hasClass('active')) {
  //       $(".fa-arrow-circle-right").hide();
  //     } else {
  //       $(".fa-arrow-circle-right").show();
  //     }
  //   }, 300);
  // });
  // $('.fa-arrow-circle-left').click(function(){
  //   $('.carousel').carousel('prev');
  // 
  //   setTimeout(function(){
  //     if($('.carousel-item').first().hasClass('active')) {
  //       $(".fa-arrow-circle-left").hide();
  //     } else {
  //       $(".fa-arrow-circle-left").show();
  //     }
  //     if($('.carousel-item').last().hasClass('active')) {
  //       $(".fa-arrow-circle-right").hide();
  //     } else {
  //       $(".fa-arrow-circle-right").show();
  //     }
  //   }, 300);
  // });
  // $('.carousel').carousel({ noWrap: true, dist: 0 });

  if($(window).width() < 1024) {
    $('.mobile-view').show();
    $('.carousel').hide();
  } else {
    $('.mobile-view').hide();
    $('.carousel').show();
  }
})
</script>
