<h3>DropList</h3><br/>
<ul class="collapsible popout" data-collapsible="accordion">
  <% @data.each_with_index do |d, index| %>
    <li>
      <div class="collapsible-header <%= index == 0 ? 'active' : '' %>">Week <%= WelcomeHelper.main_label(d) %></div>
      <div class="collapsible-body">
        <div class="row">
          <% d[1].reverse.each do |prod| %>
            <div class="col s6 m4 l4">
              <img class="product-imgs" src="http://supremecommunity.com/<%= prod[:link] %>"/>
              <div class="row">
                <div class="col s4 m4 l4">
                  <a href="#modal-<%= prod[:name] %>" class="waves-effect waves-light modal-trigger">
                    <span class="new badge blue" data-badge-caption="">View</span>
                  </a>
                </div>
                <div class="col s4 m4 l4">
                  <span class="new badge red" data-badge-caption=""><%= WelcomeHelper.price_badge(prod[:price]) %></span>
                </div>
                <div class="col s4 m4 l4">
                  <a href="#" class="addToCart">
                    <span class="new badge green" data-badge-caption="~ Add ~"></span>
                  </a>
                </div>
              </div>
            </div>
            <div id="modal-<%= prod[:name] %>" class="modal">
              <div class="modal-content">
                <h4><%= prod[:title] %></h4>
                <img class="product-imgs" style="height:400px !important" src="http://supremecommunity.com/<%= prod[:link] %>"/>
                <%= WelcomeHelper.price_badge(prod[:price]) %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

<script>
$(document).ready(function(){
   $('.modal').modal();
   $('.addToCart').click(function(e){
     e.preventDefault();
     alert("Feature coming soon....");
   });
 });
</script>