<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <div class="mobile-logo">
        <a href="<%= current_user.present? ? products_path : root_path %>" class="brand-logo"><%= image_tag("logomobile.png", style: "height:63px;") %></a>
      </div>
      <div class="desktop-logo">
        <a href="<%= current_user.present? ? products_path : root_path %>" class="brand-logo"><%= image_tag("desktop-logo.png", style: "height:63px;") %></a>
      </div>

      <a href="#" data-activates="mobile-demo" class="button-collapse">
        <div id="menuToggle">
          <input type="checkbox" />
          <span></span>
          <span></span>
          <span></span>
        </div>
      </a>

      <% if user_signed_in? %>
        <a href="#" data-activates="mobile-demo" class="button-collapse button1">
          <small class="mobile-cart-label"><%= current_order.order_items.size %> Items in Cart</small>
        </a>
      <% end %>

      <ul class="right hide-on-med-and-down">
        <%= render partial: 'layouts/menu_options' %>
      </ul>
    </div>
  </nav>
</div>

<script>
  $(function(){
    if($(window).width() < 1024){
      $('.mobile-logo').show();
      $('.desktop-logo').hide();
    } else {
      $('.mobile-logo').hide();
      $('.desktop-logo').show();
    }
    
    $( window ).resize(function() {
      if($(window).width() < 1024){
        $('.mobile-logo').show();
        $('.desktop-logo').hide();
      } else {
        $('.mobile-logo').hide();
        $('.desktop-logo').show();
      }
    });
  });
</script>
