<% if user_signed_in? %>
  <li><%= link_to "Droplists", products_path %></li>
  <li><%= link_to("Restocks", restocks_path) %></li>
  <li><%= link_to("Saved Orders", orders_path) %></li>
  <li><div class="divider"></div></li>
  <li><%= link_to "Account", edit_user_registration_path %></li>
  <% if current_user.has_role? "admin" %>
    <li><%= link_to('Admin', "/admin") %></li>
  <% end %>
  <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
  <li><div class="divider"></div></li>
  <li class="cart-button"><%= render 'layouts/cart' %></li>
<% else %>
  <li><%= link_to('Login', new_user_session_path)  %> </li>
  <li><%= link_to('Sign Up', new_user_registration_path) %></li>
<% end %>
