<li><%= link_to "Homepage", root_path %></li>
<li><%= link_to "Droplists", products_path %></li>

<% if user_signed_in? %>
  <li><%= link_to("Saved Orders", orders_path) %></li>
  <li><%= link_to "Account", edit_user_registration_path %></li>
  <li><%= link_to('Logout', destroy_user_session_path, method: :delete) %></li>
  <li class="cart-button"><%= render 'layouts/cart' %></li>
<% else %>
  <li><%= link_to('Login', new_user_session_path)  %> </li>
<% end %>
