<!DOCTYPE html>
<html>
  <head>
    <title>PremeCalc</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag "favicons/apple-touch-icon.png" %>
    <%= favicon_link_tag "favicons/favicon-32x32.png" %>
    <%= favicon_link_tag "favicons/favicon-16x16.png" %>
    <%= favicon_link_tag "favicons/manifest.json" %>
    <%= favicon_link_tag "favicons/safari-pinned-tab.svg" %>
    <meta name="apple-mobile-web-app-title" content="PremeCalc">
    <meta name="application-name" content="PremeCalc">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <%= render partial: 'layouts/main_nav' %>
    <%= render partial: 'layouts/mobile_nav' %>
    <% if %w(products restocks).any? { |name| controller.controller_name.include? name } %>
      <div class=" breadcrumb container">
        <nav>
          <div class="nav-wrapper" style="background: white !important;padding: 0px 5%; color: black;">
            <div class="col s12">
              <%= render_breadcrumbs :separator => ' / ' %>
            </div>
          </div>
        </nav>
      </div>
    <% end %>
    <div class="main-container" style="padding:10px 10px 0px 10px;">
      <p class="<%= notice.present? ? 'blue badge' : '' %> notice" style="padding:10px !important; color:white !important;"><%= notice %></p>
      <p class="<%= alert.present? ? 'red badge' : '' %> alert" style="padding:10px !important; color:white !important;"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
  <%= render partial: 'layouts/footer' %>
  <script>
    $(function(){
      $(".button-collapse").sideNav();
      $('.close').click(function(){
        $('.button-collapse').sideNav('hide');
      });
    });
  </script>
</html>
