<!DOCTYPE html>
<html>
  <head>
    <title>PremeCalc</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= favicon_link_tag "favicons/apple-touch-icon.png" %>
    <%= favicon_link_tag "favicons/favicon-32x32.png" %>
    <%= favicon_link_tag "favicons/favicon-16x16.png" %>
    <%= favicon_link_tag "favicons/manifest.json" %>
    <%= favicon_link_tag "favicons/safari-pinned-tab.svg" %>
    <meta name="apple-mobile-web-app-title" content="PremeCalc">
    <meta name="application-name" content="PremeCalc">
    <meta name="theme-color" content="#ffffff">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'layouts/main_nav' %>
    <%= render partial: 'layouts/mobile_nav' %>

    <div style="padding:10px 10px 0px 10px;">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="container">
        <%= render_breadcrumbs :separator => ' / '%>
        <hr/>
      </div>
      <%= yield %>
    </div>
  </body>
  <%= render partial: 'layouts/footer' %>
  <script>
    $(function(){
      $(".button-collapse").sideNav();
      $('.close').click(function(){
        $('.button-collapse').sideNav('hide');
      });
    });
  </script>
</html>
